{% extends 'cadastros/formulario.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container mt-5 py-5">

    <div class="row pt-5 mt-3">
        <div class="col-lg">
           
            {% if request.user.is_authenticated %}
            <h3>{{ titulo }}</h3>
            <form method="post">
                <!-- Todo formulário tem que ter essa validação -->
                {% csrf_token %}
                <!-- Gera o formulário -->
                {{ form|crispy }}
                <button type="submit" class="btn {{ classe }}">
                    {{ botao }}
                </button>
            </form>

            {% else %}
            
            <h4 class="mt-4 text-danger">Você não pode fazer isso!</h4>
            
            Redirecionando para a página inicial em 5 segundos...
            <meta http-equiv="Refresh" content="5; url={% url 'cadastrar-index' %}" />
            
            {% endif %}

        </div>
    </div>

</div>
{% endblock %}