{% extends 'cadastros/formulario.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block conteudo %}
<div class="container mt-5 py-5">

    <div class="row pt-5 mt-3">
        <div class="col-lg">
        {% if request.user.groups.all.0.name == "Administrador" %}
        <h3>Olá Admin,</h3><br>
        {% else %}
        <h3>Olá Funcionário,</h3><br>
        {% endif %}

            {% if request.user.is_authenticated %}
            <h3>{{ titulo }}</h3>
            <form method="post" enctype="multipart/form-data">
                <!-- Todo formulário tem que ter essa validação -->
                {% csrf_token %}
                <!-- Gera o formulário -->
                {{ form|crispy }}
                <button type="submit" class="btn {{ classe }}">
                    {{ botao }}
                </button>
            </form>

            {% else %}
            
            <h4 class="mt-4 text-danger">Você não pode fazer isso!</h4>
            
            Redirecionando para a página inicial em 5 segundos...
            <meta http-equiv="Refresh" content="5; url={% url 'cadastrar-index' %}" />
            
            {% endif %}

        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/mask/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function () {

        $('input[name*=cep]').mask('00.000-000');
        $('input[name*=cpf]').mask('000.000.000-00');

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 0 0000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('input[name*=telefone]').mask(SPMaskBehavior, spOptions);
        $('input[name*=data_]').mask('00/00/0000');
    });

</script>

{% endblock %}