{% extends 'cadastros/formulario.html' %}

{%block conteudo%}
<h2 class="text-center mt-2 mb-4">Bem vindo ao Administrativo</h2>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Bem vindo ao Administrativo</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<br>
<br>
<br>

<h2 class="text-center mt-2 mb-4"> nessa sessão terá os relatórios de venda</h2>
{%endblock%}