{% extends 'cadastros/formulario.html' %}


{%block conteudo%}
<h2 class="text-center mt-2 mb-4">Bem vindo ao Administrativo</h2>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Bem vindo ao Administrativo</h1>
            </div>
        </div>
    </div>
</section>
<div class="container mt-5 py-5">
    
    <div class="row pt-5 mt-3">
        <div class="col-lg">
            {% if request.user.groups.all.0.name == "Administrador" %}
            <h3>Olá Admin, bem vindo a pagina inicial do administrativo</h3><br>
            <h3>Relatório de vendas</h3>
            <form action="">
                Data Inicial: 
                <input type="date" name="min_date"class="rounded" required="required">
                Data Final: 
                <input type="date" name="max_date" class="rounded" required="required">
                <button type="submit" class="primary-btn my-3">Pesquisar</button>
            </form>
            <table class="table table-striped mydatatable">
                <thead>
                    
                    <tr>
                        <th>Data da Venda</th>
                        <th>Forma Pagamento</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                
                {% for venda in lista %}
                <tbody>
                    
                    <tr>
                        <td>{{venda.data_da_venda}}</td>
                        <td>{{venda.forma_pagamento}}</td>   
                        <td>{{venda.valor}}</td>   
                    </tr>
                    
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhum filtro selecionado!</td>
                    </tr>
                </tbody>
                {% endfor %}
                {% if lista %}
                <tfoot>
                    <tr>
                        <th>Total da Pesquisa</th><td>R$</td>
                        <th>Total Geral</th><td>R$</td>
                    </tr>
                </tfoot>
                {% endif %}
                
            </table>
        </div>
    </div>
    
    {% else %}
    <h3>Olá Funcionário, bem vindo a pagina inicial do administrativo</h3><br>
    {% endif %}
</div>
{%endblock%}

{%block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://stachpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stachpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('.mydatatable').DataTable();
</script>

{%endblock%}