{% extends 'cadastros/formulario.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container mt-5 py-5">

    <div class="row pt-5 mt-3">
        <div class="col-lg">

            {% if request.user.groups.all.0.name == "Administrador" %}
            <h3>Olá Admin,</h3><br>
            {% else %}
            <h3>Olá Funcionário,</h3><br>
            {% endif %}

            <a href="{% url 'cadastrar-formaPagamento' %}" class="btn btn-warning">Adicionar Forma de Pagamento</a>
            <table class="table table-striped">
            
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Opções</th>
                </tr>
            
                {% for formaPagamento in object_list %}
            
                <tr>
                    <td>{{formaPagamento.pk}}</td>
                    <td>{{formaPagamento.nome}}</td>
                    <td>{{formaPagamento.descricao}}</td>
                    <td>
                        <a href="{% url 'atualizar-formaPagamento' formaPagamento.pk %}" class="btn btn-warning" title="Editar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>

                        </a>
                        <a href="{% url 'deletar-formaPagamento' formaPagamento.pk %}" class="btn btn-danger" title="Excluir">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            
                {% empty %}
                <tr>
                    <td colspan="3">Nenhuma Forma de Pagamento cadastrada!</td>
                </tr>
                {% endfor %}
            
            </table>




        </div>
    </div>

</div>
{% endblock %}