{% extends 'cadastros/formulario.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block conteudo %}
<div class="container mt-5 py-5">

    <div class="row pt-5 mt-3">
        <div class="col-lg">
            
            {% if request.user.groups.all.0.name == "Administrador" %}
            <h3>Olá Admin,</h3><br>
            {% else %}
            <h3>Olá Funcionário,</h3><br>
            {% endif %}

            <table class="table table-striped" id="tabela-listar">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Data Nascimento</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Numero</th>
                        <th>CEP</th>
                        <th>RG</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Cidade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pessoa in pessoas %}
                    <tr>
                        <td>{{pessoa.pk}}</td>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.nascimento}}</td>
                        <td>{{pessoa.email}}</td>
                        <td>{{pessoa.endereco}}</td>
                        <td>{{pessoa.numero}}</td>
                        <td>{{pessoa.cep}}</td>
                        <td>{{pessoa.rg}}</td>
                        <td>{{pessoa.cpf}}</td>
                        <td>{{pessoa.telefone}}</td>
                        <td>{{pessoa.cidade.nome}}</td>
                    </tr>
            
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhuma pessoa cadastrada!</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="pagination mx-auto">
                    <span class="step-links">
            
                        {% if pessoas.has_previous %}
                        <a href="?pagina={{ pessoas.previous_page_number }}">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        </a>
                        {% endif %}
            
                        <span class="current text-white">
                            {{ pessoas.number }} de {{ pessoas.paginator.num_pages }}
                        </span>
            
                        {% if pessoas.has_next %}
                        <a href="?pagina={{ pessoas.next_page_number }}">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </span>
                </div> -->
            </div>
        </div>
    </div>

{% endblock %}
{%block scripts%}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script src="{% static 'js/datatablesbr.js' %}"></script>
{%endblock%}

{%block styles%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
{%endblock%}