{% extends 'cadastros/formulario.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container mt-5 py-5">

    <div class="row pt-5 mt-3">
        <div class="col-lg">

            {% if request.user.groups.all.0.name == "Administrador" %}
            <h3>Olá Admin,</h3><br>
            {% else %}
            <h3>Olá Funcionário,</h3><br>
            {% endif %}

            <div class="text-right py-2">
                <a href="{% url 'cadastrar-cidade' %}" class="btn btn-primary btn-sm">Adicionar Cidade</a>
            </div>
            <table class="table table-striped">
            
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Estado</th>
                    <th>Opções</th>
                </tr>
            
                {% for cidade in cidades %}
            
                <tr>
                    <td>{{cidade.pk}}</td>
                    <td>{{cidade.nome}}</td>
                    <td>{{cidade.estado.sigla}}</td>
                    <td>
                        <a href="{% url 'atualizar-cidade' cidade.pk %}" class="btn btn-warning" title="Editar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'deletar-cidade' cidade.pk %}" class="btn btn-danger" title="Excluir">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            
                {% empty %}
                <tr>
                    <td colspan="3">Nenhuma cidade cadastrada!</td>
                </tr>
                {% endfor %}
            
            </table>
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="pagination mx-auto">
                    <span class="step-links">
            
                        {% if cidades.has_previous %}
                        <a href="?pagina={{ cidades.previous_page_number }}">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        </a>
                        {% endif %}
            
                        <span class="current text-white">
                            {{ cidades.number }} de {{ cidades.paginator.num_pages }}
                        </span>
            
                        {% if estados.has_next %}
                        <a href="?pagina={{ cidades.next_page_number }}">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </span>
                </div>
            </div>



        </div>
    </div>

</div>
{% endblock %}