{% extends 'cadastros/formulario.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<div class="container mt-5 py-5">

    <div class="row pt-5 mt-3">
        <div class="col-lg">

            {% if request.user.groups.all.0.name == "Administrador" %}
            <h3>Olá Admin,</h3><br>
            {% else %}
            <h3>Olá Funcionário,</h3><br>
            {% endif %}
            <a href="{% url 'cadastrar-produto' %}" class="btn btn-warning">Adicionar Produto</a>
            <table class="table table-striped">
            
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Estoque</th>
                    <th>Valor de Venda</th>
                    <th>Categoria</th>
                    <th>Imagem</th>
                    <th>Opções</th>
                </tr>
            
                {% for produto in object_list %}
            
                <tr>
                    <td>{{produto.pk}}</td>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.codigo}}</td>
                    <td>{{produto.descricao}}</td>
                    <td>{{produto.estoque}}</td>
                    <td>{{produto.valorVenda}}</td>
                    <td>{{produto.categoria.nome}}</td>
                    <td>
                    {% if produto.imagem %}
                    <img src="{{ produto.imagem.url }}" width="32" />
                    {%endif%}
                    </td>
                    <td>
                        <a href="{% url 'atualizar-produto' produto.pk %}" class="btn btn-warning"  title="Editar">
                            <i class="fa fa-pencil" aria-hidden="true"></i>

                        </a>
                        <a href="{% url 'deletar-produto' produto.pk %}" class="btn btn-danger"  title="Excluir">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            
                {% empty %}
                <tr>
                    <td colspan="3">Nenhum produto cadastrado!</td>
                </tr>
                {% endfor %}
            
            </table>




        </div>
    </div>

</div>
{% endblock %}