{% extends 'cadastros/formulario.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block conteudo %}
<div class="container mt-5 py-5">

    <div class="row pt-5 mt-3">
        <div class="col-lg">

            {% if request.user.groups.all.0.name == "Administrador" %}
            <h3>Olá Admin,</h3><br>
            {% else %}
            <h3>Olá Funcionário,</h3><br>
            {% endif %}

            <div class="text-right py-2">
                <a href="{% url 'cadastrar-produto' %}" class="btn btn-primary btn-sm">Adicionar novo Produto</a>
            </div>
            <table class="table table-striped" id="tabela-listar">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Estoque</th>
                        <th>Valor de Venda</th>
                        <th>Categoria</th>
                        <th>Imagem</th>
                        <th>Opções</th>
                    </tr>
                </thead>    
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td>{{produto.pk}}</td>
                        <td>{{produto.nome}}</td>
                        <td>{{produto.codigo}}</td>
                        <td>{{produto.descricao}}</td>
                        <td>{{produto.estoque}}</td>
                        <td>{{produto.valorVenda}}</td>
                        <td>{{produto.categoria.nome}}</td>
                        <td>
                        {% if produto.imagem %}
                        <img src="{{ produto.imagem.url }}" width="32" />
                        {%endif%}
                        </td>
                        <td>
                            <a href="{% url 'atualizar-produto' produto.pk %}" class="btn btn-warning"  title="Editar">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="{% url 'deletar-produto' produto.pk %}" class="btn btn-danger"  title="Excluir">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
            
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhum produto cadastrado!</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="pagination mx-auto">
                    <span class="step-links">
            
                        {% if produtos.has_previous %}
                        <a href="?pagina={{ produtos.previous_page_number }}">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        </a>
                        {% endif %}
            
                        <span class="current text-white">
                            {{ produtos.number }} de {{ produtos.paginator.num_pages }}
                        </span>
            
                        {% if produtos.has_next %}
                        <a href="?pagina={{ produtos.next_page_number }}">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </span>
                </div>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}

{%block scripts%}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script src="{% static 'js/datatablesbr.js' %}"></script>
{%endblock%}

{%block styles%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
{%endblock%}