{% extends 'clientes/formulario.html' %}
{% load static %}
{%block conteudo%}

<br>
<br>
<br>

<section class="cart_area">
    <h3 class="text-center mt-2 mb-4">Carrinho</h3>
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Imagem</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in carrinho %}
                        <tr>
                            <td>
                                <img src="{{ c.produto.imagem.url }}" width="150" />
                            </td>
                            <td>{{c.produto.nome}}</td>
                            <td>{{c.valor_unid}}</td>
                            <!-- <td>{{c.quantidade}}</td> -->
                            <td>
                                <div class="product_count">
                                    <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                    <button
                                        onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                    <button
                                        onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                </div>
                            </td>
                            <td>{% widthratio c.valor_unid 1 c.quantidade %}</td>
                            <td>
                                <a href="{% url 'deletar-produto' produto.pk 1 %}" class="btn btn-danger btn-sm" title="Remover">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">
                                Nenhum produto no seu carrinho!
                            </td>
                        </tr>
                        {% endfor %}
                            
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="{% url 'clientes-carrinho' %}">Atualizar Carrinho</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Cupom">
                                    <a class="primary-btn" href="#">Aplicar desconto</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>$2160.00</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Frete</h5>
                            </td>
                            <td>
                                <div class="shipping_box">
                                    <!-- <ul class="list">
                                        <li><a href="#">Flat Rate: $5.00</a></li>
                                        <li><a href="#">Free Shipping</a></li>
                                        <li><a href="#">Flat Rate: $10.00</a></li>
                                        <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                    </ul> -->
                                    <h6>&nbsp;</h6>
                                    <input type="text" placeholder="CEP">
                                    <a class="gray_btn" href="#">Calcular</a>
                                </div>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{% url 'clientes-index' %}">Continuar comprando</a>
                                    <a class="primary-btn" href="#">Continuar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{%endblock%}