{% extends 'clientes/formulario.html' %}
{% load static %}

{%block conteudo%}

<br>
<br>
<br>

<section class="cart_area">
    <h3 class="text-center mt-2 mb-4">Carrinho</h3>
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Imagem</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Total</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in carrinho %}
                        <tr>
                            <td>
                                <img src="{{ c.produto.imagem.url }}" width="150" />
                            </td>
                            <td>{{c.produto.nome}}</td>
                            <td>R${{c.valor_unid|floatformat:2}}</td>
                            <!-- <td>{{c.quantidade}}</td> -->
                            <td>
                                <div class="product_count">
                                    <input type="text" name="qtde" maxlength="12" value="{{c.quantidade}}" title="Quantidade:" class="input-text qty">
                                    <button class="increase items-count btn-mais" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                    <button class="reduced items-count btn-menos" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                </div>
                            </td>
                            <!-- Isso aqui multiplica o valor unitário * quantidade -->
                            <td>R${% widthratio c.valor_unid 1 c.quantidade %}</td>
                            <td>
                                <a class="btn btn-light btn-sm btn-atualizar" href="{% url 'atualizar-carrinho' c.pk 1 %}"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                <!-- Para o excluir, você está passando o ID deste "objeto" carrinho. É isso mesmo do jeito que fiz -->
                                <a href="{% url 'deletar-produto' c.pk %}" class="btn btn-danger btn-sm" title="Remover">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">
                                Nenhum produto no seu carrinho!
                            </td>
                        </tr>
                        {% endfor %}
                            
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="{% url 'clientes-carrinho' %}">Atualizar Carrinho</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Cupom">
                                    <a class="primary-btn" href="#">Aplicar desconto</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                {% for c in carrinho %}
                                <h5>R${% widthratio c.valor_unid 1 c.quantidade %} +</h5>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h5>Frete</h5>
                            </td>
                            <td>
                                <div class="shipping_box">
                                    <!-- <ul class="list">
                                        <li><a href="#">Flat Rate: $5.00</a></li>
                                        <li><a href="#">Free Shipping</a></li>
                                        <li><a href="#">Flat Rate: $10.00</a></li>
                                        <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                    </ul> -->
                                    <h6>&nbsp;</h6>
                                    <input type="text" placeholder="CEP">
                                    <a class="gray_btn" href="#">Calcular</a>
                                </div>
                                <div class="my-3">    
                                    <h5>Total</h5>
                                </div>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{% url 'clientes-index' %}">Continuar comprando</a>
                                    <a class="primary-btn" href="#">Continuar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


{%endblock%}

{% block scripts %}
<!-- Coloquei aqui, mas tem que ver a compatibilidade pq seu template usa a versão 2. -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        $(".items-count").click(function (e) { 
            e.preventDefault();
            // Pega a quantidade atual do input que está anterior ao botão clicado porque tem um input pra cada produto
            // Pega a quantidade, passa pra Int e já soma 1
            var qtde = parseInt($(this).prevAll('input[name="qtde"]').first().val());
            // Se for o botão "mais", adiciona, se não remove
            if( $(this).hasClass("btn-mais") ){
                qtde = qtde + 1;
            } else {
                // se for maior que zero diminui
                if(qtde > 0){
                    qtde = qtde - 1;
                }
            }
            // Atualiza o valor no campo
            $(this).prevAll('input[name="qtde"]').first().val(qtde);
        });

        // Ao alicar no atualizar
        $(".btn-atualizar").click(function (e) { 
            e.preventDefault();
            // var qtde
            var qtde = $(this).closest('td').prev('td').prev('td').find('input[name="qtde"]').val();
            // Pega a URL atual
            var url = $(this).attr("href");
            // quebra a url onde tem /
            var partes = url.split("/");
            // Atualiza a qtde (-2 pq tem a / no final que também gera uma pos vazia)
            partes[partes.length-2] = qtde;
            // Transforma o array numa string novamente
            var url_nova = partes.join('/');
            // Redireciona para a url nova
            window.location.href = url_nova;
        });
    });
</script>
{% endblock %}