{% extends 'clientes/formulario.html' %}
{% load static %}

{%block conteudo%}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Confirmação de Compra</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Order Details Area =================-->
<section class="order_details section_gap">
    <div class="container">
        <h2 class="title_confirmation">
            Pedido <strong>{{ultima_venda.pk}}</strong> realizado com sucesso!</h2>
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Informações da Compra</h4>
                    <ul class="list">
                        <li><a href="#"><span>Numero do Pedido</span> : {{ultima_venda.pk}}</a></li>
                        <li><a href="#"><span>Data</span> : {{ultima_venda.data_da_venda|date:"d/m/Y"}}</a></li>
                        <li><a href="#"><span>Total</span> : R${{ultima_venda.valor}}</a></li>
                        <li><a href="#"><span>Forma Pagamento</span> : {{ultima_venda.forma_pagamento.nome}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Endereço de Envio</h4>
                    <ul class="list">
                        <li><a href="#"><span>Cidade</span> : {{request.user.pessoa.cidade.nome}}</a></li>
                        <li><a href="#"><span>Rua</span> : {{request.user.pessoa.endereco}}</a></li>
                        <li><a href="#"><span>Número</span> : {{request.user.pessoa.numero}}</a></li>
                        <li><a href="#"><span>CEP </span> : {{request.user.pessoa.cep}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Detalhes da Compra</h2>
            <div class="table-responsive">
                <table class="table">
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Frete</th>
                            <th scope="col">Total</th>
                        </tr>
                        {% for pv in produtos_venda %}
                        <tr>
                            <td>
                                <p>{{ pv.produto.nome }}</p>
                            </td>
                            <td>
                                <p>X {{ pv.qtde }}</p>
                            </td>
                            <td>
                                <p> {{ pv.venda.forma_envio.valor }}</p>
                            </td>
                            <td>
                                <p>R${{ pv.preco }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="100%">&nbsp;</td>
                        </tr>
                        <tr>
                            <th scope="col">Parcela</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Valor</th>
                        </tr>
                        {% for p in parcela %}
                        <tr>
                            <td>
                                <p>X {{ p.numero_parcela }}</p>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <p>R${{ p.valor_parcela }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        
                        <tr>
                            
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>R${{ ultima_venda.valor }}</p>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
        <a class="primary-btn my-3" href="{% url 'clientes-index' %}">Voltar ao Inicio</a>
    </div>
</section>

{% endblock %}