{% extends 'clientes/formulario.html' %}
{% load static %}

{% block conteudo %}


    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Contate-nos</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    
    <!--================Contact Area =================-->
    <section class="contact_area section_gap_bottom">
        <div class="container">
            <div class="col-lg-8 my-3 mx-auto">
                <img src="{% static  'img/menu.png' %}" class="border rounded" alt="">
            </div>
            <div class="row">
                <div class="col-lg-3 my-3 mx-auto">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6><a>Paranavaí e Londrina-PR</a></h6>
                            <p>&nbsp;</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a>(44)999640878</a></h6>
                            <p>Seg á Sex das 9hrs às 18hrs</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a>laisemoya@hotmail.com</a></h6>
                            <p>Entre em contato a qualquer hora!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}