{% extends 'clientes/formulario.html' %}
{% load static %}


{%block conteudo%}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Cadastrar-se</h1>
            </div>
        </div>
    </div>
</section>
{% if request.user.is_authenticated %}
<div class="row">
    <div class="col-md">
        <meta http-equiv="refresh" content="5; url={% url 'clientes-index' %}">

        <div class="text-center">

            <h3 class="text-warning">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Você já está autenticado e não é possivel acessar essa página.
            </h3>

            <img src="{% static 'img/loading.gif' %}" alt="" class="img-fluid">

            <h5 class="text-dark">
                Redirecionando para a página inicial em 5 segundos...
            </h5>
        </div>
    </div>
</div>


{% else %}
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
                    <div class="hover">
                        <h4>Novo no nosso Site?</h4>
                        <p>Conheça as vantagens de nossos produtos feitos a mão dentro do conforto de sua casa.</p>
                        <a class="primary-btn" href="/registrar">Criar Uma Conta</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Fazer Login</h3>
                    <form class="row login_form" action="" method="post" id="contactForm"
                        novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Usuário"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Usuário'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Senha"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Senha'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Entrar</button>
                            <a href="{% url 'password_reset' %}">Esqueceu a senha?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{%endif%}
{% endblock %}