{% extends 'clientes/formulario.html' %}
{% load static %}

{%block conteudo%}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout/Pagamento</h1> 
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <div class="cupon_area">
            <div class="check_title">
                <h2>Tem um Cupom?</h2>
            </div>
            <input type="text" placeholder="Código do Cupom">
            <a class="primary-btn" href="#">Aplicar Cupom</a>
        </div>
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Detalhes</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nome:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{object.nome}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{object.usuario.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>RG:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{object.rg}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>CPF:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{object.cpf}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Telefone:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{object.telefone}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Endereço:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{object.endereco}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Número:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{object.numero}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>CEP:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{object.cep}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Cidade:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{object.cidade.nome}}</p>
                        </div>
                    </div>
                    <div class="my-3">
                    <a class="primary-btn" href="{% url 'clientes-alterar-perfil' %}">Alterar dados da Compra</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        {% for v in produtosCarrinho %}
                        <h2>Seu Pedido</h2>
                        <ul class="list">
                            <li><a href="#">Produto <span>Total</span></a></li>
                            <li><a href="#">{{v.produto.nome}}<span class="middle">x {{v.quantidade}}</span> 
                            <span class="last">R${{v.produto.valor_unid}}</span></a></li>
                        </ul>
                        {% endfor %}    
                        <ul class="list list_2">
                            <li><a href="#">Subtotal <span>R$2160.00</span></a></li>
                            <li><a href="#">Frete <span>Flat rate: R$50.00</span></a></li>
                            <li><a href="#">Total <span>R$2210.00</span></a></li>
                        </ul>
    
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="selector">
                                <label for="f-option5">Boleto </label>
                                <img src="{% static 'karma/img/product/boleto.png'%}" alt="">
                                <div class="check"></div>
                            </div>
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="selector">
                                <label for="f-option6">Cartão de Crédito </label>
                                <img src="{% static 'karma/img/product/cartoes.png'%}" alt="">
                                <div class="check"></div>
                            </div>
                        </div>
                        <a class="primary-btn" href="{% url 'clientes-confirmacao' %}">Finalizar Pagamento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{%endblock%}