{% extends 'clientes/formulario.html' %}
{% load static %}

{%block conteudo%}

    <!--================Banner Area =================-->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Detalhes do Produto</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    
    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{{object.imagem.url}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>{{object.nome}}</h3>
                        <h2>R${{object.valorVenda}}</h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Categoria</span> : {{object.categoria.nome}}</a></li>
                            <li><a href="#"><span>Info</span> : {{object.estoque}} em estoque</a></li>
                        </ul>
                        <p>&nbsp;</p>
                        <div class="product_count">
                            <label for="qty">Quantidade:</label>
                            <input type="text" name="qty" id="sst" maxlength="12" value="{{c.quantidade}}" title="Quantidade:"
                                class="input-text qty">
                            <button
                                class="increase items-count btn-mais" type="button"><i class="lnr lnr-chevron-up"></i></button>
                            <button
                                class="reduced items-count btn-menos" type="button"><i class="lnr lnr-chevron-down"></i></button>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <a class="primary-btn" href="{% url 'adicionar-produto' produto.pk 1  %}">Adicionar no Carrinho</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->
    
    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                        aria-selected="true">Descrição</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>{{object.descricao}}</p>
                </div>
                
            </div>
        </div>
<div class="clearfix"></div>
{% endblock %}

{% block scripts %}
<!-- Coloquei aqui, mas tem que ver a compatibilidade pq seu template usa a versão 2. -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        $(".items-count").click(function (e) {
            e.preventDefault();
            // Pega a quantidade atual do input que está anterior ao botão clicado porque tem um input pra cada produto
            // Pega a quantidade, passa pra Int e já soma 1
            var qtde = parseInt($(this).prevAll('input[name="qtde"]').first().val());
            // Se for o botão "mais", adiciona, se não remove
            if ($(this).hasClass("btn-mais")) {
                qtde = qtde + 1;
            } else {
                // se for maior que zero diminui
                if (qtde > 0) {
                    qtde = qtde - 1;
                }
            }
            // Atualiza o valor no campo
            $(this).prevAll('input[name="qtde"]').first().val(qtde);
        });

        // Ao alicar no atualizar
        $(".btn-atualizar").click(function (e) {
            e.preventDefault();
            // var qtde
            var qtde = $(this).closest('td').prev('td').prev('td').find('input[name="qtde"]').val();
            // Pega a URL atual
            var url = $(this).attr("href");
            // quebra a url onde tem /
            var partes = url.split("/");
            // Atualiza a qtde (-2 pq tem a / no final que também gera uma pos vazia)
            partes[partes.length - 2] = qtde;
            // Transforma o array numa string novamente
            var url_nova = partes.join('/');
            // Redireciona para a url nova
            window.location.href = url_nova;
        });
    });
</script>
{% endblock %}