{% extends 'clientes/formulario.html' %}
{% load static %}

{%block conteudo%}

    <!--================Banner Area =================-->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Detalhes do Produto</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    
    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" src="{{object.imagem.url}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>{{object.nome}}</h3>
                        <h2>R${{object.valorVenda}}</h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Categoria</span> : {{object.categoria.nome}}</a></li>
                            <li><a href="#"><span>Info</span> : {{object.estoque}} em estoque</a></li>
                        </ul>
                        <p>&nbsp;</p>
                        <div class="product_count">
                            <label for="qty">Quantidade:</label>
                            <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                class="input-text qty">
                            <button
                                onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                            <button
                                onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <a class="primary-btn" href="{% url 'adicionar-produto' produto.pk 1  %}">Adicionar no Carrinho</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->
    
    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                        aria-selected="true">Descrição</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>{{object.descricao}}</p>
                </div>
                
            </div>
        </div>
<div class="clearfix"></div>
{% endblock %}