{% extends 'clientes/formulario.html' %}
{% load static %}

{% block conteudo %}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Perfil</h1>
            </div>
        </div>
    </div>
</section>

<div class="container emp-profile my-3">

    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{% static 'img/userlogo.png'  %}" class="border rounded-circle border-secondary" alt="" />
            </div>
        </div>
        <div class="col-md-8">


            <div class="row">
                <div class="col-md-8">
                    
                    <div class="profile-head">
                        <h5 class="mb-4">
                            Olá, {{object.nome}}
                        </h5>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="informacoes-tab" data-toggle="tab" href="#informacoes" role="tab"
                                    aria-controls="informacoes" aria-selected="true">Informações</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="historico-tab" data-toggle="tab" href="#historico" role="tab"
                                    aria-controls="historico" aria-selected="false">Histórico de Compra</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <a class="primary-btn" href="{% url 'clientes-alterar-perfil' %}">Editar</a>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active " id="informacoes" role="tabpanel" aria-labelledby="informacoes-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nome</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{object.nome}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>RG</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{object.rg}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>CPF</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{object.cpf}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Telefone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{object.telefone}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Endereço</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{object.endereco}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Número</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{object.numero}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>CEP</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{object.cep}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Cidade</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{object.cidade.nome}}</p>
                                </div>
                            </div>
                        </div>
            
                        <div class="tab-pane fade" id="historico" role="tabpanel" aria-labelledby="historico-tab">
                            <table class="table table-striped " id="tabela-listar">
                                <thead>
                                    <tr>
                                        <th>Detalhes</th>
                                        <th>Data da Compra</th>
                                        <th>Valor</th>
                                        <th>Parcelas</th>
                                        <th>Forma de Pagamento</th>
                                        <th>Forma de Envio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for v in venda%}
                                    <tr>
                                        <td><a href="{% url 'detalhe-compra' v.pk %}" class="btn btn-secondary" title="Detalhes">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a></td>
                                        <td>{{v.data_da_venda|date:"d/m/Y"}}</td>
                                        <td>{{v.valor}}</td>
                                        <td>{{v.parcelas}}</td>
                                        <td>{{v.forma_pagamento.nome}}</td>
                                        <td>{{v.forma_envio.nome}}</td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block scripts%}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script src="{% static 'js/datatablesbr.js' %}"></script>
{%endblock%}

{%block styles%}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
{%endblock%}